* {
    box-sizing: border-box;
}

body {
    background-color: coral;
    /* background-image: url(./img/01.jpg); */
    margin: 0;
}

/* Header content */

.header {
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 0;
    box-shadow: 0 9px 5px -4px black;
}

#logo {
    font-size: 30px;
    color: black;
    margin: 10px;
}

#dropdown {
    color: black;
    margin: 10px;
    font-size: 20px;
    
}

footer {
position: fixed;
left: 0;
bottom: 0;
height: 50px;
width: 100%;
background-color: white;
/* display: flex;
justify-content: space-between;
margin: 0; */
box-shadow: 0px -5px 10px;
}

/* GamePage */

.startBtn {
    background-color: lightgreen;
    color: white;
    height: 70px;
    width: 170px;
    margin-top: 30px;
    border: none;
    font-size: 25px;
}

.parentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}


.playerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playerInput {
    width: 90%;
    height: 7vh;
    font-size: 1.5rem;
    margin-top: 40px;
}

.confirmBtn {

}

.pointCounter {

}

.timer {
    font-size: 2rem;
}  

.currentRound {
    font-size: 20px;
    
}

.highOrLow{
    font-size: 20px;
    
}