* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    background-color: coral;
    margin: 0;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Header content */

.header {
    height: 8vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: 0;
    box-shadow: 0 9px 15px -4px black;
}

main {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    font-size: 30px;
    color: black;
    margin: 10px;
    cursor: pointer;
}

#dropdown {
    color: black;
    margin: 10px;
    font-size: 20px;
    
}

.resultWrap {
    display: flex;
    flex-direction: column;
}


/* GamePage */

.startBtn {
    background-color: lightgreen;
    color: white;
    height: 70px;
    width: 80%;
    max-width:600px;
    margin-top: 30px;
    border: none;
    font-size:2.5em;
    border-radius: 15px;
    opacity: 0.7;

}

.startBtn:hover {
    opacity:1;
    cursor: pointer;
    animation: bounce 0.5s;
}

.parentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 5vh;
    /* height: 40vh; */
}

#mySelect {
    background-color: lightgreen;
    height: 50px;
    width:80%;
    max-width:600px;
    border-radius: 15px;
    opacity: 0.7;
    font-size:1.5em;
    font-weight: bold;
    padding-left: 10px;
    color:white;
}


.playerDiv {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playerInput {
    width: 70%;
    width: 100%;
    height: 7vh;
    font-size: 1.5rem;
    margin-top: 40px;
    border-radius: 15px;
    background-color: whitesmoke;
}

.actionDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.setAndRoundDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
   

}

.setAndRoundDiv p {
    font-size: 1.2rem;
    
}



.timer, .currentRound, .highOrLow, .pointCounter, .setCounter {
    font-size: 2rem;
    
}

.timer, .highOrLow {
    margin: 0.25em;
    font-size: 1.5rem;
}

.pointCounter {

}

.timer {
/*     font-size: 2rem;
 */}  

.currentRound {
/*     font-size: 20px;
 */    
}

.highOrLow{
/*     font-size: 50px;
 */    
}


.dropbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 2em;
    border: none;
    cursor: pointer;
    width: 10vw;
    height: 100%;
    outline: 0;
}

.dropbtn:active {
    box-shadow: none;  
    box-shadow: inset 0px 0px 10px 0px black; 
}
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .dropbtn:focus {
    border-left: solid 3px  lightgreen;
    color: coral;
    font-weight: bold;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border: solid 1px gray;
    border-radius: 3px;
    left: -25vw;
    overflow: auto;
    box-shadow: 0px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .show {display: block;}

/* BOT */
.botWrap {
    display: flex;
    width: 100%;
    margin-bottom: 0.5vh;
}

.botDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 0;
    height: 10vh;
    margin: 0 0 2vh 10vh;

}

.botImgDiv {
    display: flex;
    height: 100%;
}

.botTextChoice {
    font-size: 2rem;
}

.botImg {

}


.nextSetBtn {
    background-color: lightgreen;
    color: white;
    height: 50px;
    width: 130px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    font-size: 20px;
    border-radius: 15px;
    opacity: 0.7;
} 

.nextSetBtn:hover {
    opacity:1;
    cursor: pointer;
    animation: bounce 0.5s;
}
#highscoreDiv {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#highscoreDiv > button {
    width: 10vw;
    display: flex;
    margin: 3px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    color: black;
    height: 25px;
    width: 150px;
    border: none;
    font-size: 15px;
    border-radius: 15px;
    opacity: 0.4;
    cursor: pointer;
}


  @media only screen and (max-width: 650px) {
    .dropbtn {
      width: 25vw;
      font-size: 1em;
    }
    .dropdown-content {
        left: -75vw;
        width: 100vw;
        height: 50vh;
    }
    .nextSetBtn {
        background-color: lightgreen;
        color: white;
        height: 7vh;
        width: 60vw;

        margin: 0.5em 0 1em 0;
        border: none;
        font-size: 25px;
        border-radius: 15px;
        opacity: 0.7;
    }
    
    .playerInput {
        width: 60vw;
        height: 9vh;
        font-size: 0.95rem;
        margin-top: 40px;
        border-radius: 15px;
        background-color: whitesmoke;
    }
/*     #mySelect {
        width: 50vw;
    } */
  }

  .levelCheck{
      margin-top:20px;
      width: 80%;
      max-width:600px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content:space-between;
  }

  .easyDiv,.normalDiv,.hardDiv{
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  
  .levelInput{
      width:2em;
      height:2em;
      /*/* margin:8px; */ 
      /* font-size: 50px; */
      
  }
  .checkTitle{
      font-size: 1.5em;
      font-family: Arial, Helvetica, sans-serif;
  }
  .loggadiv{
      width:100%;
      height:100%;
      display: flex;
      justify-content: flex-start;
  }
  #logga{
      height:100%;
      padding:3px;
      margin-left:1vw;
      object-fit: contain;
  }


 footer {
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    height: 5vh;
    width: 100%;
    background-color: white;
    box-shadow: 0 -5px 15px -4px black;
    align-items: center;
}

p.copyright {
        width: 100%;
        text-align: center;
    }

  .endgame{
    top:200px;
    margin:10px;
    position:fixed;
    justify-content:center;
    width:290px;
    height:80px;
    background-color: rgb(230, 96, 48);
    box-shadow: 0 9px 20px -5px black;
    border-radius: 25px;
    animation:goDown 2.0s;
  }
  .winbox{
      display:flex;
      justify-content: center;
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-weight: bold;
      width:100%;
      padding:5px;
      font-size: 2.5em;
      animation: colorchange 1.0s;
      animation-iteration-count: infinite;
  }

